<!doctype html>
<html data-ng-app="driversApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>yeoman jquery karma</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="styles/exercise_2.css">
</head>
<body data-ng-controller="driversPage">
<section class="container">
  <div class="row">
    <div class="col-sm-offset-3">
      <table class="table table-condensed">
        <thead>
        <tr class="head">
          <th>
            <div><p>Order by:</p></div>
          </th>
          <th colspan="7">
            <div>
              <ul class="list-inline">
                <li data-ng-class="{'active':orderConcep=='ranking'}" data-ng-click="orderConcep='ranking'">clasificación</li>
                <li data-ng-class="{'active':orderConcep=='name'}" data-ng-click="orderConcep='name'">name</li>
                <li data-ng-class="{'active':orderConcep=='nationality'}" data-ng-click="orderConcep='nationality'">nationality</li>
              </ul>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="row in drivers | orderBy:orderConcep">
          <td class="order">
            <div>
              <ul class="list-unstyled">
                <li class="ranking">{{row.ranking}}&deg;</li>
                <li class="points"><small class="pointsTag">POINTS</small><span class="pointsValue">{{row.points}}</span></li>
              </ul>
            </div>
          </td>
          <td class="drivers">
            <div>
              <img src="{{'images/drivers/0' + row.ranking + '.png'}}" alt="{{row.name + ' ' + row.surname}}"/>
            </div>
          </td>
          <td class="flags">
            <div>
              <img src="images/flags/{{row.image}}.jpg" alt="{{row.name + ' ' + row.surname}}"/>
            </div>
          </td>
          <td class="data">
            <div>
              <ul class="list-unstyled">
                <li>{{row.nationality}}</li>
                <li>{{row.name + ' ' + row.surname}}</li>
                <li>{{row.team}} ({{row.teamPoints}})</li>
              </ul>
            </div>
          </td>
          <td class="text-center lastRace">
            <div>
              <ul class="list-unstyled">
                <li>LAST GP</li>
                <li>{{row.lastRace}}&deg;</li>
              </ul>
            </div>
          </td>
          <td class="text-center wins">
            <div>
              <ul class="list-unstyled">
                <li>VICTORIES</li>
                <li>{{row.wins}}</li>
              </ul>
            </div>
          </td>
          <td class="text-center poles">
            <div>
              <ul class="list-unstyled">
                <li>POLES</li>
                <li>{{row.poles}}</li>
              </ul>
            </div>
          </td>
          <td class="text-center bestPosition">
            <div>
              <ul class="list-unstyled">
                <li>BEST POSITION</li>
                <li>{{row.bestPosition}}&deg;<span data-ng-if="row.bestPositionTimes">(x{{row.bestPositionTimes}})</span></li>
              </ul>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="scripts/exercise_2.js"></script>

</body>
</html>
