$primary-color: #666666
$secondary-color: #999999
$color3: #F3F3F3
$color4: #888888
$color5: $secondary-color

table.table
  width: 615px
  border: solid 2px $color4
  thead
    background: $color4
    font-size: 11px
    color: $color3
    th div
      height: 12px
      margin-bottom: 2px
      margin-top: -2px
    th:nth-child(1)
    th:nth-child(2)
      ul
        li
          background: $color5
          padding-bottom: 2px
          padding-right: 12px
          padding-left: 12px
          &.active
            background: #666666
          &:hover
            cursor: pointer
  tbody tr td
    &
      padding: 2px !Important
    & div
      height: 52px
      margin-top: 2px
    &.order
      width: 67px
      div
        width: 66px
        position: absolute
        .ranking
          font-weight: bold
          color: $primary-color
          font-size: 26px
          margin-top: -8px
        .points
          color: $secondary-color
          float: right
          margin-top: -7px
          margin-right: 10px
          .pointsTag
            display: block
            font-size: 9px
            font-weight: bold
          .pointsValue
            float: right
            font-size: 20px
            margin-top: -7px
            font-weight: bold
    &.drivers
      width: 67px
    &.flags
      width: 30px
    &.data
      div
        display: flex
        ul
          align-self: flex-end
          line-height: 13px
          height: 57%
          li:nth-child(1)
            color: $secondary-color
            font-size: 10px
          li:nth-child(2)
            color: $primary-color
            font-size: 11px
            font-weight: bold
          li:nth-child(3)
            color: $secondary-color
            font-size: 12px
            font-weight: bold
    &.lastRace, &.wins, &.poles, &.bestPosition
      padding: 1px !IMPORTANT
      div
        background: #f0f0f0
        font-weight: bold
        ul
          li:nth-child(1)
            color: $secondary-color
            font-size: 8px
            padding: 9px
          li:nth-child(2)
            color: $primary-color
            font-size: 20px
            margin-top: -7px



