/* line 7, sass/exercise_2.sass */
table.table {
  width: 615px;
  border: solid 2px #888888;
}
/* line 10, sass/exercise_2.sass */
table.table thead {
  background: #888888;
  font-size: 11px;
  color: #F3F3F3;
}
/* line 14, sass/exercise_2.sass */
table.table thead th div {
  height: 12px;
  margin-bottom: 2px;
  margin-top: -2px;
}
/* line 21, sass/exercise_2.sass */
table.table thead th:nth-child(2) ul li {
  background: #999999;
  padding-bottom: 2px;
  padding-right: 12px;
  padding-left: 12px;
}
/* line 26, sass/exercise_2.sass */
table.table thead th:nth-child(2) ul li.active {
  background: #666666;
}
/* line 28, sass/exercise_2.sass */
table.table thead th:nth-child(2) ul li:hover {
  cursor: pointer;
}
/* line 31, sass/exercise_2.sass */
table.table tbody tr td {
  padding: 2px !important;
}
/* line 33, sass/exercise_2.sass */
table.table tbody tr td div {
  height: 52px;
  margin-top: 2px;
}
/* line 36, sass/exercise_2.sass */
table.table tbody tr td.order {
  width: 67px;
}
/* line 38, sass/exercise_2.sass */
table.table tbody tr td.order div {
  width: 66px;
  position: absolute;
}
/* line 41, sass/exercise_2.sass */
table.table tbody tr td.order div .ranking {
  font-weight: bold;
  color: #666666;
  font-size: 26px;
  margin-top: -8px;
}
/* line 46, sass/exercise_2.sass */
table.table tbody tr td.order div .points {
  color: #999999;
  float: right;
  margin-top: -7px;
  margin-right: 10px;
}
/* line 51, sass/exercise_2.sass */
table.table tbody tr td.order div .points .pointsTag {
  display: block;
  font-size: 9px;
  font-weight: bold;
}
/* line 55, sass/exercise_2.sass */
table.table tbody tr td.order div .points .pointsValue {
  float: right;
  font-size: 20px;
  margin-top: -7px;
  font-weight: bold;
}
/* line 60, sass/exercise_2.sass */
table.table tbody tr td.drivers {
  width: 67px;
}
/* line 62, sass/exercise_2.sass */
table.table tbody tr td.flags {
  width: 30px;
}
/* line 65, sass/exercise_2.sass */
table.table tbody tr td.data div {
  display: flex;
}
/* line 67, sass/exercise_2.sass */
table.table tbody tr td.data div ul {
  align-self: flex-end;
  line-height: 13px;
  height: 57%;
}
/* line 71, sass/exercise_2.sass */
table.table tbody tr td.data div ul li:nth-child(1) {
  color: #999999;
  font-size: 10px;
}
/* line 74, sass/exercise_2.sass */
table.table tbody tr td.data div ul li:nth-child(2) {
  color: #666666;
  font-size: 11px;
  font-weight: bold;
}
/* line 78, sass/exercise_2.sass */
table.table tbody tr td.data div ul li:nth-child(3) {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
}
/* line 82, sass/exercise_2.sass */
table.table tbody tr td.lastRace, table.table tbody tr td.wins, table.table tbody tr td.poles, table.table tbody tr td.bestPosition {
  padding: 1px !important;
}
/* line 84, sass/exercise_2.sass */
table.table tbody tr td.lastRace div, table.table tbody tr td.wins div, table.table tbody tr td.poles div, table.table tbody tr td.bestPosition div {
  background: #f0f0f0;
  font-weight: bold;
}
/* line 88, sass/exercise_2.sass */
table.table tbody tr td.lastRace div ul li:nth-child(1), table.table tbody tr td.wins div ul li:nth-child(1), table.table tbody tr td.poles div ul li:nth-child(1), table.table tbody tr td.bestPosition div ul li:nth-child(1) {
  color: #999999;
  font-size: 8px;
  padding: 9px;
}
/* line 92, sass/exercise_2.sass */
table.table tbody tr td.lastRace div ul li:nth-child(2), table.table tbody tr td.wins div ul li:nth-child(2), table.table tbody tr td.poles div ul li:nth-child(2), table.table tbody tr td.bestPosition div ul li:nth-child(2) {
  color: #666666;
  font-size: 20px;
  margin-top: -7px;
}
